.container-prod-card{
    display: flex;
    flex-direction: column;
    color: #000;    
    align-items: center;
    width: 250px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #000;
    border-radius: 15px;    
}
.img-card-container{
    width: 250px;
    height: 200px;    
}
.img-card{
    border: 1px solid #000;
    border-radius: 15px;
    
}
.talle-card{
    text-align: left;
}
.precio-card{
    font-weight: bold;
}