h1 {
  font-size: 5rem;
  font-weight: 600;
}
h3 {
  font-size: 2.5rem;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/bgBannerMain.png");
  height: 100vh;
}

.banner-texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;  
  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.banner-p {
  font-size: 1.2rem;
}
.my-btc {
  display: flex;
  width: 200px;
  height: 55px;
  background-color: #404048;
  color: aliceblue;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.9s;
}

.my-btc:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

@media only screen and (max-width: 768px) {
  .banner-p {
    font-size: 1rem;
  }
}
