.container-banner-pie {
  display: flex;
  justify-content: space-around;
  background-color: #414042;
  min-height: 40vh;
}
/* * {
  outline: 1px solid #f00 !important;
} */
.container-datos-pie {
  display: flex;  
  justify-content: space-around;
  background-color: #212529;
  height: 40vh;
}

.info-pie {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-pie p {
  
  font-size: 1rem;
  color: #fff;
}

.logo-icono-pie {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.img-logo-pie {
  margin-top: 2rem;
  align-self: center;
  width: 250px;
  height: 150px;
  border-radius: 15px;
}

.icono-pie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}
.icono-rrss {
  margin-top: 2rem;
  font-size: 2rem;
  color: #000;
  transition: 0.5s;
}
.icono-rrss:hover {
  color: #fff;
}

.map-pie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.iframe-map {
  width: 90%;
  height: 90%;
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .container-banner-pie {
    flex-direction: column;
    height: auto;
    justify-content: center;    
    align-items: center;
  }
  .container-datos-pie {
    flex-direction: column;
    height: auto;
  }
  .info-pie p{
    margin-top: 1rem;
  }
  .info-pie.logo-pie.map-pie {
    flex: 100%;
  }
  .img-logo-pie {
    width: 200px;
    height: 100px;
  }
  .icono-pie {
    margin-bottom: 1rem;
  }
}
